- # Dan's third commit
!!! 5
%html
  %head
    %title
      Sandbox
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body 
    Add an end, which is obsolete in HAML
    - if something_really_longggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
    - else 
    - end 
    = yield 
